.rtw-header {
    .Ubuntu(normal, small);
    display         : grid;
    grid-auto-rows  : auto;
    background-color: @main-colour;
    border-radius   : 5px;


    .sectionheader {
        .roundedheader();

        .actorname {
            .smallinput();
        }

    }

    .content {
        .layout {
            display              : grid;
            grid-template-rows   : repeat(3, auto);
            grid-template-columns: 75px 1fr;

            .portrait {
                display : grid;
                grid-row: span 3;
                border  : none;
            }

            .toprow {
                display              : grid;
                grid-template-columns: 26% 20% 18% 18% 18%;
            }

            .midrow {
                display              : grid;
                grid-template-columns: 46% 18% 18% 18%;
            }

            .bottomrow {
                display              : grid;
                grid-template-columns: 24% 66% 10%;
            }

            .headinfo {
                .roundedheader();
                margin: 1px;
                .rollable:hover {
                    background-color: @main-colour;
                    color: @text-alt-colour;
                }
            }

            .triple,
            .double,
            .single {
                align-items: baseline;

                .value {
                    .smallinput();
                }

                .valuefull {
                    .smallinput();
                    text-align: left;
                    width     : 100%;
                }
            }

            .triple {
                .col3();
            }

            .double {
                display              : grid;
                grid-template-columns: auto 1fr;
            }

            .move,
            .declaration {
                .value {
                    .smallselect();
                }
            }
        }
    }

    nav.sheet-nav {
        .Ubuntu(normal, small);
        padding   : 2px;
        border-top: 4px solid @text-alt-colour;

        .tabtitle {
            .roundedheader();
            color: @text-alt-colour;
        }

        .active {
            background-color: @main-colour;
            border-color    : @alt-colour;
        }
    }
}
.rtw-header.sticky {
    position: sticky;
    top: 0;
    z-index: 1;
}