.rtw-section {
    .Ubuntu(normal, small);
    display: grid;
    grid-auto-rows: auto;
    border-radius: 5px;
    border: 2px solid @main-colour ;

    .sectionheader {
        .roundedheader();

        .section-title {

            .title,
            a {
                border: inherit;
                padding: inherit;
                margin: inherit;
                background: inherit;
            }

            .title {
                color: inherit;
            }
        }
    }

    .content {

        .nospan,
        .twospan,
        .threespan,
        .fourspan {
            .col4();

            .header {
                grid-column: span 4;
                .roundedheader();

                .section-title {

                    .title,
                    a {
                        border: inherit;
                        padding: inherit;
                        margin: inherit;
                        background: inherit;
                    }

                    .title {
                        color: inherit;
                    }
                }
            }

            .entry {
                .rollablecard();
                .Ubuntu(bolder, small);
                align-items: baseline;
            }

            .feat {
                .roundedcard();
                .Ubuntu(normal, smaller);
                align-items: baseline;

                h3 {
                    font-size: large;
                    border-bottom: none;
                }

                .feature {
                    max-width: 48px;
                    float: right;
                }
            }

            .tokenofheroism {
                .col4();
                .attackcard();
                .Ubuntu(bolder, smaller);
            }

            .attackentry {
                .attackcard();
                .Ubuntu(bold, small);
                grid-template-columns: 48px 1fr;

                .left {
                    .portrait {
                        max-width: 44px;
                        max-height: 44px;
                    }
                }

                .right {
                    display: grid;
                    grid-template-columns: 4fr 1.5fr 1.5fr 2fr 1.5fr 3fr;
                    width: 100%;
                    align-items: center;

                    .select {
                        border: none;
                        background: none;
                        height: auto;
                        text-align-last: right;
                        color: gray;
                        font-size: inherit;
                        font-weight: bold;
                    }
                }
            }

            .wound {
                .woundcard();
                .Ubuntu(bolder, smaller);
            }

            .subsection {

                .header {
                    .roundedheader();
                }

                .wealth {
                    display: grid;
                    grid-template-columns: 30% 70%;
                    align-items: baseline;
                    padding: 3px;
                    font-weight: bold;
                }

                .materialstable {
                    .Ubuntu(bold, small);
                    padding: 3px;

                    .materialrow,
                    .headrow {
                        display: grid;
                        text-align: center;
                        grid-template-columns: 52% 8% 8% 8% 8% 8% 8%;
                    }

                    .materialrow {

                        .materialname {
                            text-align: right;
                            align-self: center;
                            margin: 3px;
                        }

                        .materialinput {
                            text-align: center;
                            border: none;
                            margin: 3px;
                            height: auto;
                        }
                    }
                }

                .entry {
                    .rollablecard();
                    .Ubuntu(bolder, small);
                    align-items: baseline;
                }

                .feat {
                    .rollablecard();
                    .Ubuntu(normal, smaller);
                    align-items: baseline;
                }

                .ingredient {
                    display: grid;
                    grid-template-columns: 35% 45% 10% 10%;

                    .name,
                    .effect {
                        justify-self: left;
                    }

                    .rank {
                        text-align: center;
                    }

                    .amount {
                        padding: unset;
                        text-align: center;
                        height: auto;
                        border: none;
                    }
                }

                .trait {
                    display: grid;
                    grid-template-columns: 40% 15% 30% 15%;

                    .traitname {
                        justify-self: left;
                    }

                    .traitvalue {
                        width: 75%;
                        text-align: right;
                    }

                    .traitinput {
                        padding: unset;
                        text-align: center;
                        height: auto;
                        border: none;
                    }
                }

                .power {
                    background-color: rgba(128, 0, 0, 0.3);
                }

                .wisdom {
                    background-color: rgba(0, 0, 128, 0.3);
                }

                .courage {
                    background-color: rgba(0, 128, 0, 0.3);
                }
            }

            .doublewide {
                grid-column: span 2;
                .rollablecard();
            }

            .notes {
                grid-column: span 2;
                .roundedcard();
            }

            .rankvariable,
            .poolstyle,
            .variable {
                display: grid;
                grid-column: span 2;
                grid-template-columns: auto 1fr 36px;
                .Ubuntu(bolder, smaller);
                .roundedcard();
                align-items: baseline;

                .value,
                .variablename {
                    text-align: center;
                }

                .select {
                    border: none;
                    background: none;
                    height: auto;
                    text-align-last: right;
                    color: gray;
                    font-size: inherit;
                    font-weight: bold;
                }
            }

            .rankvariable {
                grid-template-columns: auto 1fr;
            }

            .poolstyle {
                grid-template-columns: auto 36px 36px;

                .value {
                    height: auto;
                    background: none;
                }
            }
        }

        .threespan {
            .col3();

            .header {
                grid-column: span 3;
            }

            .variable,
            .poolstyle {
                grid-column: span 1;
            }
        }

        .twospan {
            .col2();

            .header {
                grid-column: span 2;
            }
        }

        .nospan {
            .col1();

            .header {
                grid-column: span 1;
            }
        }

        .biography {
            min-height: 300px;
            resize: none;
        }
    }
}