<hr>
<h3>{{localize "rtw.item.notes"}}</h3>
{{#if (eq item.type "Container")}}
    <div class="tab">
        <textarea rows="18" name="system.notes">{{{system.notes}}}</textarea>
    </div>
{{else}}
    <div class="rtw-section">
        <div class="sectionheader">
            <label>{{localize "rtw.item.notes"}}</label>
        </div>
        <div class="content">
            <div class="nospan biography">
                {{editor system.notes target="system.notes" engine="prosemirror" button=true owner=owner editable=editable}}
            </div>
        </div>
    </div>
{{/if}}
<script>
    $("input").focusin(function () {
        $(this).select();
    });
    $("textarea").focusin(function () {
        $(this).select();
    }); 
</script>