{{debug "Rollable: " this}}
<form class="mydialog">
    {{! this is an attack - needs to expand for other rollables }}
    <div class="rollables">
        {{! the attack - this needs to account for different rulesets }}
        {{#if (eq rollabledata.type 'Weapon')}}
        <div class="item attackitem {{#if (eq rollabledata.type 'Weapon')}}melee{{else if (contains rollabledata.name "
            Ranged") }}ranged{{else}}spell{{/if}}" data-item-id="{{rollabledata._id}}"
            title="{{rollabledata.system.notes}}">
            <label class="attackname">{{rollabledata.name}}</label>
            <label class="rollable skill" data-name="{{rollabledata.name}}" data-roll="{{rollabledata.system.acc}}"
                data-type="attack">
                Hit: [{{rollabledata.system.moddedacc}}]
            </label>
            <label class="rollable damage" data-name="{{rollabledata.name}}" data-roll="{{rollabledata.system.atk}}"
                data-type="damage">
                Dmg: {{rollabledata.system.moddedatk}}
            </label>
        </div>
        {{else if (eq rollabledata.type 'Trait')}}
        <div class="item entry">
            <label class="name"> {{rollabledata.name}} </label>
            <label>[ {{rollabledata.value}} ]</label>
            <a class="rollable" data-name="{{rollabledata.name}}" data-roll="{{rollabledata.value}}" data-type="trait">
                <i class="fas fa-dice"></i> </a>
        </div>
        {{else if (eq rollabledata.type 'Defence')}}
        <div class="item entry" data-item-id="{{rollabledata._id}}" title="{{rollabledata.system.notes}}">
            <label class="name rollable" data-name="{{rollabledata.name}}" data-roll="{{rollabledata.system.value}}"
                data-modtype="defence" data-type="modlist"> {{rollabledata.name}} </label>
            <label>[ {{rollabledata.system.moddedvalue}} ]</label>
            <a class="rollable" data-name="{{rollabledata.name}}" data-roll="{{rollabledata.system.value}}"
                data-type="{{rollabledata.system.category}}"> <i class="fas fa-dice"></i> </a>
        </div>
        {{else if (eq rollabledata.type 'Rollable')}}
        <div class="item entry" data-item-id="{{rollabledata._id}}" title="{{rollabledata.system.notes}}">
            <label class="name rollable" data-name="{{rollabledata.name}}" data-roll="{{rollabledata.system.value}}"
                data-modtype="{{rollabledata.system.category}}" data-type="modlist"> {{rollabledata.name}} </label>
            <label>[{{rollabledata.system.moddedvalue}}]</label>
            <a class="rollable" data-name="{{rollabledata.name}}" data-roll="{{rollabledata.system.value}}"
                data-type="{{rollabledata.system.category}}"> <i class="fas fa-dice"></i> </a>
        </div>
        {{/if}}
    </div>
    <hr>
    <div class="modifiers">
        {{! the global modifier }}
        <div class="diagmod">
            {{~localize 'rtw.actor.gmod.name'~}}
            :<input class="gmod iteminput" type="number" value="{{actor.system.gmod.value}}" data-dtype="Number"
                data-name="system.gmod.value" data-attack-id="{{rollabledata._id}}" />
        </div>
        {{#each modifiers as |item|}}
        {{#if item.system.alwaysOn}}
        {{! do not display permanent modifiers }}
        {{else}}
        {{#if (eq item.type 'Modifier')}}
        {{! modifiers }}
        <div class="item diamod{{#if item.system.inEffect}} inEffect{{/if}}{{#if (and item.system.attack item.system.damage)}} attackdamagemod{{else if item.system.attack}} attackmod{{else if item.system.damage}} damagemod{{/if}}"
            data-item-id="{{item._id}}" title="{{item.system.notes}}">
            <label class="item-toggle" data-attack-id="{{../rollabledata._id}}">{{item.name}}</label>
        </div>
        {{else if (eq item.type 'Variable')}}
        {{! variables }}
        <div class="item diavar" title="{{item.system.notes}}" data-item-id="{{item._id}}">
            <label class="variablename">{{item.name}}</label>
            <select class="variable iteminput" data-name="system.label" data-attack-id="{{../rollabledata._id}}">
                {{selectOptions item.system.entries selected=item.system.label valueAttr="label" labelAttr="label"}}
            </select>
        </div>
        {{else if (eq item.type 'Pool')}}
        {{! pools }}
        <div class="item diapool" title="{{item.system.notes}}" data-item-id="{{item._id}}">
            <label class="poolname">{{item.name}}:</label>
            <input class="pool iteminput" type="number" value="{{item.system.value}}" data-dtype="Number"
                data-name="system.value" data-abbr="{{item.system.abbr}}" data-attack-id="{{../rollabledata._id}}" />
            <span>/ {{item.system.max}}</span>
        </div>
        {{else}}
        {{/if}}
        {{/if}}
        {{/each}}
    </div>
</form>