{{log "Hero sheet data: " this}}

<form class="{{cssClass}}" autocomplete="off">
  <div id="sheet">
    <header class="rtw-header sticky">
      <div class="sectionheader collapsible char-name" data-section="header">
        <input class="actorname" name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'rtw.actor.name'}}" />
      </div>
      <div class="content" style="display: {{actor.system.sections.header}}">
        <div class="layout">
          <div class="portrait">
            <img class="portrait" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
          </div>
          <div class="toprow">
            <div class="headinfo double">
              <span>Race:</span>
              <input class="valuefull" type="text" name="system.race" value="{{system.race}}" data-dtype="String" />
            </div>
            <div class="headinfo double">
              <span>Size:</span>
              <input class="valuefull" type="text" name="system.size" value="{{system.size}}" data-dtype="String" />
            </div>
            <div class="headinfo double">
              <span>Age:</span>
              <input class="valuefull" type="text" name="system.description.age" value="{{system.description.age}}" data-dtype="String" />
            </div>
            <div class="headinfo double">
              <span>Ht:</span>
              <input class="valuefull" type="text" name="system.description.height" value="{{system.description.height}}" data-dtype="String" />
            </div>
            <div class="headinfo double">
              <span>Wt:</span>
              <input class="valuefull" type="text" name="system.description.weight" value="{{system.description.weight}}" data-dtype="String" />
            </div>
          </div>
          <div class="midrow">
            <div class="headinfo double">
              <span>Affiliation:</span>
              <input class="valuefull" type="text" name="system.affiliation" value="{{system.affiliation}}" data-dtype="String" />
            </div>
            <div class="headinfo double">
              <span>Hair:</span>
              <input class="valuefull" type="text" name="system.description.hair" value="{{system.description.hair}}" data-dtype="String" />
            </div>
            <div class="headinfo double">
              <span>Eyes:</span>
              <input class="valuefull" type="text" name="system.description.eyes" value="{{system.description.eyes}}" data-dtype="String" />
            </div>
            <div class="headinfo double">
              <span>Skin:</span>
              <input class="valuefull" type="text" name="system.description.skin" value="{{system.description.skin}}" data-dtype="String" />
            </div>
          </div>
          <div class="bottomrow">
            {{#with system.TOH as |item|}}
              <div class="headinfo triple item" title="{{item.system.notes}}" data-item-id="{{item._id}}">
                <span class="item-edit draggable" data-item-id="{{item._id}}">{{item.system.abbr}}:</span>
                <input class="value iteminput pool" type="text" value="{{item.system.value}}" data-dtype="Number" data-name="system.value" data-abbr="{{item.system.abbr}}" />
                <span>/{{item.system.max}}</span>
              </div>
            {{/with}}
            <div class="headinfo double">
              <span>Spacer:</span>
              <input class="valuefull" type="text" name="system.spacer" value="{{system.spacer}}" data-dtype="String" />
            </div>
            <div class="headinfo single" title="Admin Mode">
              <input class="valuefull" type="checkbox" name="system.adminMode" {{checked system.adminMode}} data-dtype="Boolean" />
            </div>
          </div>
        </div>
      </div>

      {{!-- Sheet Tab Navigation --}}
      <nav class="sheet-nav tabs" data-group="primary">
        <a class="tabtitle" data-tab="main">{{localize "rtw.tabs.main"}}</a>
        <a class="tabtitle" data-tab="combat">{{localize "rtw.tabs.combat"}}</a>
        <a class="tabtitle" data-tab="feats">{{localize "rtw.tabs.feats"}}</a>
        <a class="tabtitle" data-tab="skills">{{localize "rtw.tabs.skills"}}</a>
        {{#if system.adminMode}}
          <a class="tabtitle" data-tab="items">{{localize "rtw.tabs.items"}}</a>
          <a class="tabtitle" data-tab="scripts">{{localize "rtw.tabs.scripts.title"}}</a>
        {{/if}}
      </nav>
    </header>
    <hr>

    {{!-- Sheet Body --}}
    <section id="tabs" class="sheet-body">

      {{!-- Stats Tab --}}
      <div class="tab main" data-tab="main" data-group="primary">

        <div class="rtw-section">
          <div class="sectionheader collapsible" data-section="stats">
            <label>{{localize "rtw.sections.primaryattributes"}}</label>
          </div>
          <div class="content" style="display: {{actor.system.sections.stats}}">
            <div class="threespan">
              {{! Power}}
              <div class="subsection">
                <div class="header">
                  <label>{{localize "rtw.sections.power"}}</label>
                </div>
                {{#each system.power as |trait|}}
                  <div class="entry trait {{trait.aspect}}">
                    <label class="traitname">{{trait.name}}</label>
                    <input class="traitinput" type="number" name="system.traits.{{trait.abbr}}.ranks" value="{{trait.ranks}}" />
                    <label class="traitvalue">{{trait.value}}</label>
                    <a class="rollable" data-name="{{trait.name}}" data-roll="{{trait.value}}" data-type="skill"> <i class="fas fa-dice"></i> </a>
                  </div>
                {{/each}}
              </div>
              {{! Wisdom}}
              <div class="subsection">
                <div class="header">
                  <label>{{localize "rtw.sections.wisdom"}}</label>
                </div>
                {{#each system.wisdom as |trait|}}
                  <div class="entry trait {{trait.aspect}}">
                    <label class="traitname">{{trait.name}}</label>
                    <input class="traitinput" type="number" name="system.traits.{{trait.abbr}}.ranks" value="{{trait.ranks}}" />
                    <label class="traitvalue">{{trait.value}}</label>
                    <a class="rollable" data-name="{{trait.name}}" data-roll="{{trait.value}}" data-type="skill"> <i class="fas fa-dice"></i> </a>
                  </div>
                {{/each}}
              </div>
              {{! Courage}}
              <div class="subsection">
                <div class="header">
                  <label>{{localize "rtw.sections.courage"}}</label>
                </div>
                {{#each system.courage as |trait|}}
                  <div class="entry trait {{trait.aspect}}">
                    <label class="traitname">{{trait.name}}</label>
                    <input class="traitinput" type="number" name="system.traits.{{trait.abbr}}.ranks" value="{{trait.ranks}}" />
                    <label class="traitvalue">{{trait.value}}</label>
                    <a class="rollable" data-name="{{trait.name}}" data-roll="{{trait.value}}" data-type="skill"> <i class="fas fa-dice"></i> </a>
                  </div>
                {{/each}}
              </div>
            </div>

            <div class="threespan item-list">
              <div class="header">
                <label>{{localize "rtw.sections.primods"}}</label>
              </div>
              {{#each system.primods as |item|}}
                {{#unless item.system.alwaysOn}}
                  <div class="item modifier{{#if item.system.inEffect}} inEffect{{/if}}" data-item-id="{{item._id}}" title="{{item.system.notes}}">
                    <label class="item-toggle draggable">{{item.name}}</label>
                  </div>
                {{/unless}}
              {{/each}}
            </div>
          </div>
        </div>
        <hr>

        <div class="rtw-section">
          <div class="sectionheader collapsible" data-section="specialrolls">
            <label>{{localize "rtw.sections.materialsection"}}</label>
          </div>
          <div class="content" style="display: {{actor.system.sections.specialrolls}}">
            <div class="fourspan item-list">
              {{#each system.spellvariables as |item|}}
                {{#if (eq item.type "Variable")}}
                  <div class="item variable" title="{{item.system.notes}}" data-item-id="{{item._id}}">
                    <label class="variablename draggable item-edit">{{item.name}}</label>
                    <select class="select iteminput" data-name="system.label">
                      {{selectOptions item.system.entries selected=item.system.label valueAttr="label" labelAttr="label"}}
                    </select>
                    <label class="value"></label>
                  </div>
                {{else}}
                  <div class="item poolstyle" title="{{item.system.notes}}" data-item-id="{{item._id}}">
                    <label class="poolname item-edit draggable">{{item.name}}:</label>
                    <input class="value iteminput pool" type="text" value="{{item.system.value}}" data-dtype="Number" data-name="system.value" data-abbr="{{item.system.abbr}}" />
                    <span>/{{item.system.max}}</span>
                  </div>
                {{/if}}
              {{/each}}
            </div>
            {{! Consumable things}}
            <div class="twospan">
              {{! Materials}}
              <div class="subsection">
                <div class="header">
                  <label>{{localize "rtw.sections.materials"}}</label>
                </div>
                <div class="materialstable">
                  <div class="headrow">
                    <div class="headname"></div>
                    <div class="headrank">0</div>
                    <div class="headrank">1</div>
                    <div class="headrank">2</div>
                    <div class="headrank">3</div>
                    <div class="headrank">4</div>
                    <div class="headrank">5</div>
                  </div>
                  {{#each system.materials as |item abbr|}}
                    <div class="materialrow">
                      <div class="materialname">{{item.name}}</div>
                      {{#each item.qty as |value id|}}
                        <input class="materialinput" type="number" name="system.materials.{{abbr}}.qty.{{id}}" value="{{value}}" />
                      {{/each}}
                    </div>
                  {{/each}}
                </div>
                {{! Wealth}}
                <div class="header">
                  <label>{{localize "rtw.sections.wealth"}}</label>
                </div>
                <div class="wealth">
                  Rupees: <input class="wealthinput" type="text" name="system.rupees" value="{{system.rupees}}" />
                  Other Wealth: <input class="wealthinput" type="text" name="system.otherwealth" value="{{system.otherwealth}}" />
                </div>
              </div>
              {{! Ingredients}}
              <div class="subsection">
                <div class="header">
                  <label>{{localize "rtw.sections.ingredients"}}</label>
                </div>
                <div class="ingredients item-list">
                  {{#each system.ingredients as |item|}}
                    <div class="item entry ingredient" title="{{item.type}}" data-item-id="{{item._id}}">
                      <label class="name draggable">{{item.name}}: </label>
                      <label class="effect">{{item.system.effect}}</label>
                      <label class="rank">r{{item.system.rank}}</label>
                      <input class="iteminput amount" type="number" data-dtype="Number" data-name="system.qty" value="{{item.system.qty}}" />
                    </div>
                  {{/each}}
                </div>
                {{! Key Items}}
                <div class="header">
                  <label>{{localize "rtw.sections.techniques"}}</label>
                </div>
                <div class="keyitems item-list">
                  {{#each system.techniques as |item|}}
                    <div class="item entry" data-item-id="{{item._id}}" title="{{item.system.notes}}">
                      <label class="draggable item-edit"> {{item.name}} </label>
                      <a class="rollable" data-name="{{item.name}}" data-roll="{{item.system.notes}}" data-type="technique"> <i class="fas fa-comment"></i> </a>
                    </div>
                  {{/each}}
                </div>
              </div>

            </div>
          </div>
        </div>
        <hr>

        <div class="rtw-section">
          <div class="sectionheader collapsible" data-section="notes">
            <label>{{localize "rtw.sections.notes"}}</label>
          </div>
          <div class="content" style="display: {{actor.system.sections.notes}}">
            <div class="nospan biography">
              {{editor enrichment.system.biography target="system.biography" engine="prosemirror" button=true owner=owner editable=editable}}
            </div>
          </div>
        </div>

      </div>

      {{!-- Combat Tab --}}
      <div class="tab combat" data-tab="combat" data-group="primary">

        <div class="rtw-section">
          <div class="sectionheader collapsible" data-section="defences">
            <label>{{localize "rtw.sections.defences"}}</label>
          </div>
          <div class="content" style="display: {{actor.system.sections.defences}}">

            <div class="fourspan item-list">
              <div class="header">
                <label>{{localize "rtw.sections.points"}}</label>
              </div>
              {{#each system.points as |item|}}
                <div class="item entry" data-item-id="{{item._id}}" title="{{item.name}}">
                  <label class="item-edit draggable">{{item.system.type}}: {{item.system.qty}} {{item.system.stat}}</label>
                  <a class="item-delete">
                    <i class="fas fa-trash"></i>
                  </a>
                </div>
              {{/each}}
            </div>
            <div class="threespan item-list">
              {{#each system.secondaries as |trait|}}
                <div class="entry" title="{{trait.name}}">
                  <label class="draggable"> {{~trait.abbr}}: {{trait.value}} / {{trait.max}} & {{trait.temp}}</label>
                  <a class="item-create" data-type='Points' data-stat="{{toLowerCase trait.abbr}}" data-type="damage">
                    <i class="fas fa-plus"></i>
                  </a>
                </div>
              {{/each}}
            </div>

            <div class="threespan item-list">
              <div class="header">
                <label>{{localize "rtw.sections.blocks"}}</label>
              </div>
              {{#each system.blocks as |item|}}
                <div class="item entry" data-item-id="{{item._id}}" title="{{item.system.notes}}">
                  <label class="rollable draggable" data-name="{{item.name}}" data-roll="{{item.system.value}}" data-modtype="defence" data-type="modlist"> {{item.name}} </label>
                  <label>[ {{item.system.moddedvalue}} ]</label>
                  <a class="rollable" data-name="{{item.name}}" data-roll="{{item.system.value}}" data-type="{{item.system.category}}"> <i class="fas fa-comment"></i> </a>
                </div>
              {{/each}}
            </div>
            <div class="fourspan item-list">
              {{#each system.defencevariables as |item|}}
                {{#if (eq item.type "Variable")}}
                  <div class="item variable" title="{{item.system.notes}}" data-item-id="{{item._id}}">
                    <label class="variablename draggable item-edit">{{item.name}}</label>
                    <select class="select iteminput" data-name="system.label">
                      {{selectOptions item.system.entries selected=item.system.label valueAttr="label" labelAttr="label"}}
                    </select>
                    <label class="value"></label>
                  </div>
                {{else}}
                  <div class="item poolstyle" title="{{item.system.notes}}" data-item-id="{{item._id}}">
                    <label class="poolname item-edit draggable">{{item.name}}:</label>
                    <input class="value iteminput pool" type="text" value="{{item.system.value}}" data-dtype="Number" data-name="system.value" data-abbr="{{item.system.abbr}}" />
                    <span>/{{item.system.max}}</span>
                  </div>
                {{/if}}
              {{/each}}
            </div>

          </div>
        </div>
        <hr>

        <div class="rtw-section">
          <div class="sectionheader collapsible" data-section="attacks">
            <label>{{localize "rtw.sections.attacks"}}</label>
          </div>
          <div class="content" style="display: {{actor.system.sections.attacks}}">

            <div class="nospan item-list">
              {{#each system.attacks as |item|}}
                <div class="item attackentry" data-item-id="{{item._id}}" title="{{item.system.notes}}">
                  <div class="left">
                    <img class="portrait draggable item-edit" src="{{item.img}}" />
                  </div>
                  <div class="right" data-item-id="{{item._id}}">
                    <label class="rollable" data-name="{{item.name}}" data-roll="{{item.system.acc}}" data-modtype="attack" data-type="modlist">{{item.name}}</label>
                    <label class="rollable skill" data-name="{{item.name}}" data-roll="{{numberFormat item.system.acc decimals=0}}" data-type="attack">
                      Hit: {{numberFormat item.system.moddedacc decimals=0}}
                    </label>
                    <label class="rollable damage" data-name="{{item.name}}" data-roll="{{item.system.atk}}" data-type="damage">
                      Dmg: {{item.system.moddedatk}}
                    </label>
                    <label>Dur: {{item.system.dur}} / {{item.system.maxdur}}</label>
                    <label>Rank: {{item.system.rank}}</label>
                    <select class="select iteminput" data-name="system.location">
                      {{selectOptions ../config.rtw.selectOptions.weapon_location selected=item.system.location valueAttr="value" labelAttr="label" localize=true}}
                    </select>
                    <label style="grid-column:span 2;">Style: {{item.system.style}}</label>
                    <label style="grid-column:span 2;">Mat: {{item.system.material}}</label>
                    <label style="grid-column:span 2;">Ench: {{item.system.ench}}</label>
                  </div>
                </div>
              {{/each}}
            </div>
            <div class="fourspan item-list">
              {{#each system.attackvariables as |item|}}
                {{#if (eq item.type "Variable")}}
                  <div class="item variable" title="{{item.system.notes}}" data-item-id="{{item._id}}">
                    <label class="variablename draggable item-edit">{{item.name}}</label>
                    <select class="select iteminput" data-name="system.label">
                      {{selectOptions item.system.entries selected=item.system.label valueAttr="label" labelAttr="label"}}
                    </select>
                    <label class="value"></label>
                  </div>
                {{else}}
                  <div class="item poolstyle" title="{{item.system.notes}}" data-item-id="{{item._id}}">
                    <label class="poolname item-edit draggable">{{item.name}}:</label>
                    <input class="value iteminput pool" type="text" value="{{item.system.value}}" data-dtype="Number" data-name="system.value" data-abbr="{{item.system.abbr}}" />
                    <span>/{{item.system.max}}</span>
                  </div>
                {{/if}}
              {{/each}}
            </div>

            <div class="threespan item-list">
              <div class="header">
                <label>{{localize "rtw.sections.attackmods"}}</label>
              </div>
              {{#each system.attackdamagemods as |item|}}
                {{#if item.system.alwaysOn}}
                {{else}}
                  <div class="item modifier{{#if item.system.inEffect}} inEffect{{/if}}" data-item-id="{{item._id}}" title="{{item.system.notes}}">
                    <label class="item-toggle draggable">{{item.name}}</label>
                  </div>
                {{/if}}
              {{/each}}
            </div>
          </div>
        </div>
        <hr>

        <div class="rtw-section">
          <div class="sectionheader collapsible" data-section="skills">
            <label>{{localize "rtw.sections.skills"}}</label>
          </div>
          <div class="content" style="display: {{actor.system.sections.skills}}">

            <div class="threespan item-list">
              {{#each system.defences as |item|}}
                <div class="item entry" data-item-id="{{item._id}}" title="{{item.system.notes}}">
                  <label class="rollable draggable" data-name="{{item.name}}" data-roll="{{item.system.value}}" data-modtype="defence" data-type="modlist"> {{item.name}} </label>
                  <label>[ {{item.system.moddedvalue}} ]</label>
                  <a class="rollable" data-name="{{item.name}}" data-roll="{{item.system.value}}" data-type="{{item.system.category}}"> <i class="fas fa-dice"></i> </a>
                </div>
              {{/each}}
            </div>
            <div class="fourspan item-list">
              {{#each system.skillvariables as |item|}}
                {{#if (eq item.type "Variable")}}
                  <div class="item variable" title="{{item.system.notes}}" data-item-id="{{item._id}}">
                    <label class="variablename draggable item-edit">{{item.name}}</label>
                    <select class="select iteminput" data-name="system.label">
                      {{selectOptions item.system.entries selected=item.system.label valueAttr="label" labelAttr="label"}}
                    </select>
                    <label class="value"></label>
                  </div>
                {{else}}
                  <div class="item poolstyle" title="{{item.system.notes}}" data-item-id="{{item._id}}">
                    <label class="poolname item-edit draggable">{{item.name}}:</label>
                    <input class="value iteminput pool" type="text" value="{{item.system.value}}" data-dtype="Number" data-name="system.value" data-abbr="{{item.system.abbr}}" />
                    <span>/{{item.system.max}}</span>
                  </div>
                {{/if}}
              {{/each}}
            </div>
            <div class="threespan item-list">
              <div class="header">
                <label>{{localize "rtw.sections.defencemods"}}</label>
              </div>
              {{> "systems/reclaim-the-wild/templates/partials/gmod.hbs" data=data}}
              {{#each system.defencemods as |item|}}
                {{#if item.system.alwaysOn}}
                {{else}}
                  <div class="item modifier{{#if item.system.inEffect}} inEffect{{/if}}" data-item-id="{{item._id}}" title="{{item.system.notes}}">
                    <label class="item-toggle draggable">{{item.name}}</label>
                  </div>
                {{/if}}
              {{/each}}
            </div>
          </div>
        </div>
        <hr>
      </div>

      {{!-- Feats Tab --}}
      <div class="tab feats" data-tab="feats" data-group="primary">

        <div class="rtw-section">
          <div class="sectionheader collapsible" data-section="disadvantages">
            <label>{{localize "rtw.sections.fst"}}</label>
          </div>
          <div class="content" style="display: {{actor.system.sections.disadvantages}}">

            <div class="twospan item-list">
              <div class="header">
                <label>{{localize "rtw.sections.advantages"}}</label>
              </div>
              {{#each system.advantages as |item|}}
                <div class="item feat" title="{{item.system.notes}}" data-item-id="{{item._id}}">
                  <img class="feature draggable item-edit" src="{{item.img}}" />
                  <h3 class="draggable rollable" data-name="{{item.name}}" data-roll="{{item.system.notes}}" data-type="technique">{{item.name}}</h3>
                  <label class="html">{{{item.system.notes}}}</label>
                </div>
              {{/each}}
            </div>

            <div class="twospan item-list">
              <div class="header">
                <label>{{localize "rtw.sections.disadvantages"}}</label>
              </div>
              {{#each system.disadvantages as |item|}}
                <div class="item feat" title="{{item.system.notes}}" data-item-id="{{item._id}}">
                  <img class="feature draggable item-edit" src="{{item.img}}" />
                  <h3 class="draggable rollable" data-name="{{item.name}}" data-roll="{{item.system.notes}}" data-type="technique">{{item.name}}</h3>
                  <label class="html">{{{item.system.notes}}}</label>
                </div>
              {{/each}}
            </div>

            <div class="twospan item-list">
              <div class="header">
                <label>{{localize "rtw.sections.perks"}}</label>
              </div>
              {{#each system.perks as |item|}}
                <div class="item feat" title="{{item.system.notes}}" data-item-id="{{item._id}}">
                  <img class="feature draggable item-edit" src="{{item.img}}" />
                  <h3 class="draggable rollable" data-name="{{item.name}}" data-roll="{{item.system.notes}}" data-type="technique">{{item.name}}</h3>
                  <label class="html">{{{item.system.notes}}}</label>
                </div>
              {{/each}}
            </div>

            <div class="twospan item-list">
              <div class="header">
                <label>{{localize "rtw.sections.quirks"}}</label>
              </div>
              {{#each system.quirks as |item|}}
                <div class="item feat" title="{{item.system.notes}}" data-item-id="{{item._id}}">
                  <img class="feature draggable item-edit" src="{{item.img}}" />
                  <h3 class="draggable rollable" data-name="{{item.name}}" data-roll="{{item.system.notes}}" data-type="technique">{{item.name}}</h3>
                  <label class="html">{{{item.system.notes}}}</label>
                </div>
              {{/each}}
            </div>
          </div>
        </div>
      </div>

      {{!-- Skills Tab --}}
      <div class="tab skills" data-tab="skills" data-group="primary">

        <div class="rtw-section">
          <div class="sectionheader collapsible" data-section="spells">
            <label>{{localize "rtw.sections.checks"}}</label>
          </div>
          <div class="content" style="display: {{actor.system.sections.spells}}">

            <div class="threespan item-list">
              {{#each system.skills as |item|}}
                {{#if (eq item.system.category "check")}}
                  <div class="item entry" data-item-id="{{item._id}}" title="{{item.system.moddedformula}}: {{item.system.notes}}">
                    <label class="rollable draggable" data-name="{{item.name}}" data-roll="{{item.system.moddedformula}}" data-type="{{item.system.category}}">
                      {{item.name}}
                    </label>
                    <label></label>
                    <label></label>
                  </div>
                {{else}}
                  <div class="item entry" data-item-id="{{item._id}}" title="{{item.system.notes}}">
                    <label class="rollable draggable" data-name="{{item.name}}" data-roll="{{item.system.value}}" data-modtype="{{item.system.category}}" data-type="modlist">
                      {{item.name}}
                    </label>
                    <label>[{{item.system.moddedvalue}}]</label>
                    <a class="rollable" data-name="{{item.name}}" data-roll="{{item.system.value}}" data-type="{{item.system.category}}">
                      <i class="fas fa-dice"></i>
                    </a>
                  </div>
                {{/if}}
              {{/each}}
            </div>

            <div class="threespan item-list">
              <div class="header">
                <label>{{localize "rtw.sections.checkmods"}}</label>
              </div>
              {{> "systems/reclaim-the-wild/templates/partials/gmod.hbs" data=data}}
              {{#each system.checkskillspellmods as |item|}}
                {{#if item.system.alwaysOn}}
                  {{! do not display these}}
                {{else}}
                  <div class="item modifier{{#if item.system.inEffect}} inEffect{{/if}}" data-item-id="{{item._id}}" title="{{item.system.notes}}">
                    <label class="item-toggle draggable">{{item.name}}</label>
                  </div>
                {{/if}}
              {{/each}}
            </div>
            <div class="threespan item-list">
              <div class="header">
                <label>{{localize "rtw.sections.shareinfo"}}</label>
              </div>
              {{#each system.techniques as |item|}}
                <div class="item entry" data-item-id="{{item._id}}" title="{{item.system.notes}}">
                  <label class="draggable"> {{item.name}} </label>
                  <label></label>
                  <a class="rollable" data-name="{{item.name}}" data-roll="{{item.system.notes}}" data-type="technique"> <i class="fas fa-comment"></i> </a>
                </div>
              {{/each}}
            </div>
            <div class="threespan item-list">
              <div class="header">
                <label>{{localize "rtw.sections.rms"}}</label>
              </div>
              {{#each system.rms as |item|}}
                <div class="item entry" data-item-id="{{item._id}}" title="{{item.system.notes}}">
                  <label class="draggable" data-name="{{item.name}}" data-type="rms"> {{item.name}} </label>
                  <label></label>
                  <label>[{{numberFormat item.system.moddedvalue decimals=0}}]</label>
                </div>
              {{/each}}
            </div>
            <div class="nospan item-list">
              <div class="header">
                <label>{{localize "rtw.sections.toh"}}</label>
              </div>
              {{#each system.toh as |item|}}
                <div class="item tokenofheroism" data-item-id="{{item._id}}" title="{{item.system.notes}}">
                  <label class="draggable item-edit" data-name="{{item.name}}" data-type="toh"> {{item.name}} </label>
                  <label>{{item.system.location}}</label>
                  <label>{{item.system.session}}</label>
                  <label>{{item.system.value}}</label>
                </div>
              {{/each}}
            </div>

            <div class="fourspan item-list">
              <div class="header">
                <label>{{localize "rtw.sections.pools"}}</label>
              </div>
              {{#each system.pools as |item|}}
                <div class="item poolstyle" title="{{item.system.notes}}" data-item-id="{{item._id}}">
                  <label class="poolname item-edit draggable">{{item.name}}:</label>
                  <input class="value iteminput pool" type="text" value="{{item.system.value}}" data-dtype="Number" data-name="system.value" data-abbr="{{item.system.abbr}}" />
                  <span>/ {{item.system.max}}</span>
                </div>
              {{/each}}
            </div>

            <div class="fourspan item-list">
              <div class="header">
                <label>{{localize "rtw.sections.variables"}}</label>
              </div>
              {{#each system.variables as |item|}}
                <div class="item rankvariable" title="{{item.system.notes}}" data-item-id="{{item._id}}">
                  <label class="variablename item-edit draggable">{{item.name}}</label>
                  <select class="select iteminput" data-name="system.label">
                    {{selectOptions item.system.entries selected=item.system.label valueAttr="label" labelAttr="label"}}
                  </select>
                </div>
              {{/each}}
            </div>
          </div>
        </div>
      </div>

      {{!-- Owned Items Tab --}}
      <div class="tab items" data-tab="items" data-group="primary">

        {{!-- HIT LOCATION --}}{{!-- WOUNDS --}}
        <div class="rtw-section">
          <div class="sectionheader collapsible" data-section="hitlocations">
            {{> "systems/reclaim-the-wild/templates/partials/sectiontitles.hbs" label=(localize "rtw.sections.hitlocations") itemtype="Hit-Location" sections="single"}}
          </div>
          <div class="content" style="display: {{actor.system.sections.hitlocations}}">
            <div class="nospan item-list">
              {{> "systems/reclaim-the-wild/templates/partials/owneditems.hbs" section=system.hitlocations}}
            </div>
          </div>
        </div>
        <hr>

        {{!-- SKILLS, INFORMATION & REFERENCE VALUES --}}
        <div class="rtw-section">
          <div class="sectionheader collapsible" data-section="skills">
            <h2>{{localize "rtw.sections.checks"}}</h2>
          </div>
          <div class="content" style="display: {{actor.system.sections.skills}}">
            <div class="nospan item-list">
              {{!-- VARIABLE FORMULA --}} {{!-- D20 SKILLS --}} {{!-- D100 SKILLS --}}
              <div class="header">
                {{> "systems/reclaim-the-wild/templates/partials/sectiontitles.hbs" label=(localize "rtw.sections.checks") itemtype="Rollable" category="skill" sections="single"}}
              </div>
              {{> "systems/reclaim-the-wild/templates/partials/owneditems.hbs" section=system.skills}}
              {{!-- INFORMATION TO SHARE --}}
              <div class="header">
                {{> "systems/reclaim-the-wild/templates/partials/sectiontitles.hbs" label=(localize "rtw.sections.shareinfo") itemtype="Rollable" category="technique" sections="single"}}
              </div>
              {{> "systems/reclaim-the-wild/templates/partials/owneditems.hbs" section=system.techniques}}
              {{!-- REFERENCE VALUE --}}
              <div class="header">
                {{> "systems/reclaim-the-wild/templates/partials/sectiontitles.hbs" label=(localize "rtw.sections.rms") itemtype="Rollable" category="rms" sections="single"}}
              </div>
              {{> "systems/reclaim-the-wild/templates/partials/owneditems.hbs" section=system.rms}}
            </div>
          </div>
        </div>
        <hr>

        {{!-- SAVING THROWS & DEFENCES --}}
        <div class="rtw-section">
          <div class="sectionheader collapsible" data-section="savesdefences">
            <h2>{{localize "rtw.sections.defences"}}</h2>
          </div>
          <div class="content" style="display: {{actor.system.sections.savesdefences}}">
            <div class="nospan item-list">
              {{!-- DEFENCES --}}
              <div class="header">
                {{> "systems/reclaim-the-wild/templates/partials/sectiontitles.hbs" label=(localize "rtw.sections.defences") itemtype="Defence" category="dodge" sections="single"}}
              </div>
              {{> "systems/reclaim-the-wild/templates/partials/owneditems.hbs" section=system.defences}}
              {{!-- VALUES TO SHARE --}}
              <div class="header">
                {{> "systems/reclaim-the-wild/templates/partials/sectiontitles.hbs" label=(localize "rtw.sections.blocks") itemtype="Defence" category="block" sections="single"}}
              </div>
              {{> "systems/reclaim-the-wild/templates/partials/owneditems.hbs" section=system.blocks}}
            </div>
          </div>
        </div>
        <hr>

        {{!-- TRAITS --}}
        <div class="rtw-section">
          <div class="sectionheader collapsible" data-section="features">
            <h2>{{localize "rtw.sections.features"}}</h2>
          </div>
          <div class="content" style="display: {{actor.system.sections.features}}">
            <div class="nospan item-list">
              {{!-- ADVANTAGES --}}
              <div class="header">
                {{> "systems/reclaim-the-wild/templates/partials/sectiontitles.hbs" label=(localize "rtw.sections.advantages") itemtype="Feature" category="advantage" sections="single"}}
              </div>
              {{> "systems/reclaim-the-wild/templates/partials/owneditems.hbs" section=system.advantages}}
              {{!-- DISADVANTAGES --}}
              <div class="header">
                {{> "systems/reclaim-the-wild/templates/partials/sectiontitles.hbs" label=(localize "rtw.sections.disadvantages") itemtype="Feature" category="disadvantage" sections="single"}}
              </div>
              {{> "systems/reclaim-the-wild/templates/partials/owneditems.hbs" section=system.disadvantages}}
              {{!-- PERKS --}}
              <div class="header">
                {{> "systems/reclaim-the-wild/templates/partials/sectiontitles.hbs" label=(localize "rtw.sections.perks") itemtype="Feature" category="perk" sections="single"}}
              </div>
              {{> "systems/reclaim-the-wild/templates/partials/owneditems.hbs" section=system.perks}}
              {{!-- QUIRKS --}}
              <div class="header">
                {{> "systems/reclaim-the-wild/templates/partials/sectiontitles.hbs" label=(localize "rtw.sections.quirks") itemtype="Feature" category="quirk" sections="single"}}
              </div>
              {{> "systems/reclaim-the-wild/templates/partials/owneditems.hbs" section=system.quirks}}
            </div>
          </div>
        </div>
        <hr>

        {{!-- ATTACKS --}}
        <div class="rtw-section">
          <div class="sectionheader collapsible" data-section="melee">
            {{> "systems/reclaim-the-wild/templates/partials/sectiontitles.hbs" label=(localize "rtw.sections.melee") itemtype="Weapon" sections="single"}}
          </div>
          <div class="content" style="display: {{actor.system.sections.melee}}">
            <div class="nospan item-list">
              {{> "systems/reclaim-the-wild/templates/partials/owneditems.hbs" section=system.attacks}}
            </div>
          </div>
        </div>
        <hr>

        {{!-- POOLS --}}
        <div class="rtw-section">
          <div class="sectionheader collapsible" data-section="pools">
            {{> "systems/reclaim-the-wild/templates/partials/sectiontitles.hbs" label=(localize "rtw.sections.pools") itemtype="Pool" sections="single"}}
          </div>
          <div class="content" style="display: {{actor.system.sections.pools}}">
            <div class="nospan item-list">
              {{> "systems/reclaim-the-wild/templates/partials/owneditems.hbs" section=system.pools}}
            </div>
          </div>
        </div>
        <hr>

        {{!-- MODIFIERS --}}
        <div class="rtw-section">
          <div class="sectionheader collapsible" data-section="modifiers">
            {{> "systems/reclaim-the-wild/templates/partials/sectiontitles.hbs" label=(localize "rtw.sections.modifiers") itemtype="Modifier" sections="single"}}
          </div>
          <div class="content" style="display: {{actor.system.sections.modifiers}}">
            <div class="nospan item-list">
              {{> "systems/reclaim-the-wild/templates/partials/owneditems.hbs" section=system.modifiers}}
            </div>
          </div>
        </div>
        <hr>

        {{!-- VARIABLES --}}
        <div class="rtw-section">
          <div class="sectionheader collapsible" data-section="variables">
            {{> "systems/reclaim-the-wild/templates/partials/sectiontitles.hbs" label=(localize "rtw.sections.variables") itemtype="Variable" sections="single"}}
          </div>
          <div class="content" style="display: {{actor.system.sections.variables}}">
            <div class="nospan item-list">
              {{> "systems/reclaim-the-wild/templates/partials/owneditems.hbs" section=system.variables}}
            </div>
          </div>
        </div>
        <hr>

        {{!-- EQUIPMENT --}}
        <div class="rtw-section">
          <div class="sectionheader collapsible" data-section="equipment">
            {{> "systems/reclaim-the-wild/templates/partials/sectiontitles.hbs" label=(localize "rtw.sections.equipment") itemtype="Equipment" sections="single"}}
          </div>
          <div class="content" style="display: {{actor.system.sections.equipment}}">
            <div class="nospan item-list">
              {{> "systems/reclaim-the-wild/templates/partials/owneditems.hbs" section=system.equipment}}
            </div>
          </div>
        </div>
        <hr>

        {{!-- TOKENS OF HEROISM --}}
        <div class="rtw-section">
          <div class="sectionheader collapsible" data-section="toh">
            {{> "systems/reclaim-the-wild/templates/partials/sectiontitles.hbs" label=(localize "rtw.sections.toh") itemtype="Token-of-Heroism" sections="single"}}
          </div>
          <div class="content" style="display: {{actor.system.sections.toh}}">
            <div class="nospan item-list">
              {{> "systems/reclaim-the-wild/templates/partials/owneditems.hbs" section=system.toh}}
            </div>
          </div>
        </div>
        <hr>

        {{!-- CONTAINERS --}}
        <div class="rtw-section">
          <div class="sectionheader collapsible" data-section="containers">
            {{> "systems/reclaim-the-wild/templates/partials/sectiontitles.hbs" label=(localize "rtw.sections.containers") itemtype="Container" sections="single"}}
          </div>
          <div class="content" style="display: {{actor.system.sections.containers}}">
            <div class="nospan item-list">
              {{> "systems/reclaim-the-wild/templates/partials/owneditems.hbs" section=system.containers}}
            </div>
          </div>
        </div>

      </div>

      {{!-- Script Engine Tab --}}
      <div class="tab scripts" data-tab="scripts" data-group="primary">

        {{!-- Script Pane --}}
        <div id="baseitems">
          <div class="item-controls">
            <div>
              <a class="item-control item-create" title="{{localize 'rtw.tabs.scripts.createT'}}">
                <i class="fas fa-plus"></i> {{localize "rtw.tabs.scripts.create"}}
              </a>
            </div>
            <div>
              <a class="item-control item-export" title="{{localize 'rtw.tabs.scripts.exportT'}}">
                <i class="fas fa-minus"></i> {{localize "rtw.tabs.scripts.export"}}
              </a>
            </div>
            <div>
              <a class="item-control importRtW" title="Import stats in Reclaim the Wild format">
                <i class="fas fa-plus"></i> Import Reclaim the Wild Format (WIP)
              </a>
            </div>
          </div>
          <textarea rows="24" name="system.itemscript">{{{actor.system.itemscript}}}</textarea>
        </div>

      </div>

    </section>
  </div>
  <script>
    $("input").focusin(function () {
      $(this).select();
    });
  </script>
</form>