{{debug "this:" this}}

<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="portrait" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'rtw.item.name'}}" />
    </header>
    <hr>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="flexrow">
            <label class="resource-label">{{localize "rtw.item.hit-location.damageResistance"}}</label>
            <input type="text" name="system.damageResistance" value="{{item.system.damageResistance}}" data-dtype="Number" />
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "rtw.item.hit-location.damage"}}</label>
            <input type="text" name="system.damage" value="{{item.system.damage}}" data-dtype="Number" />
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "rtw.item.hit-location.3d6.injuryType"}}</label>
            <input type="text" name="system.injuryType" value="{{item.system.injuryType}}" data-dtype="String" />
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "rtw.item.hit-location.toCripple"}}</label>
            <input type="text" name="system.toCripple" value="{{item.system.toCripple}}" data-dtype="String" />
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "rtw.item.hit-location.crippled"}}</label>
            <input type="checkbox" name="system.crippled" {{checked item.system.crippled}} data-dtype="Boolean" />
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "rtw.item.hit-location.toHitRoll18"}}</label>
            <input type="text" name="system.toHitRoll18" value="{{item.system.toHitRoll18}}" data-dtype="String" />
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "rtw.item.hit-location.toHitRoll6"}}</label>
            <input type="text" name="system.toHitRoll6" value="{{item.system.toHitRoll6}}" data-dtype="String" />
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "rtw.item.hit-location.toHitPenalty"}}</label>
            <input type="text" name="system.toHitPenalty" value="{{item.system.toHitPenalty}}" data-dtype="Number" />
        </div>
        <hr>
        <h3>{{localize "rtw.item.notes"}}</h3>
        <div class="rtw-section">
            <div class="sectionheader">
                <label>{{localize "rtw.item.notes"}}</label>
            </div>
            <div class="content">
                <div class="nospan biography">
                    {{editor system.notes target="system.notes" engine="prosemirror" button=true owner=owner editable=editable}}
                </div>
            </div>
        </div>
        <script>
            $("input").focusin(function () {
                $(this).select();
            });
        </script>
    </section>
</form>