{{debug "this:" this}}

<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="portrait" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'rtw.item.name'}}" />
    </header>
    <hr>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="flexrow">
            <label class="resource-label">{{localize "rtw.item.ingredient.type"}}</label>
            <select name="system.type">
                {{selectOptions config.rtw.selectOptions.ingredient_type selected=item.system.type valueAttr="value"
                labelAttr="label" localize=true}}
            </select>
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "rtw.item.ingredient.effect"}}</label>
            <input type="text" name="system.effect" value="{{item.system.effect}}" data-dtype="String" />
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "rtw.item.ingredient.rank"}}</label>
            <input type="number" name="system.rank" value="{{item.system.rank}}" data-dtype="Number" />
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "rtw.item.ingredient.qty"}}</label>
            <input type="number" name="system.qty" value="{{item.system.qty}}" data-dtype="Number" />
        </div>
    </section>
</form>