{{debug "this:" this}}

<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="portrait" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'rtw.item.name'}}" />
    </header>
    <hr>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="flexrow">
            <label class="resource-label">{{localize "rtw.item.category"}}</label>
            <select name="system.category">
                {{selectOptions config.rtw.selectOptions.rollable_category selected=item.system.category valueAttr="value"
                labelAttr="label" localize=true}}
            </select>
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "rtw.item.formula"}}</label>
            <input type="text" name="system.formula" value="{{item.system.formula}}" data-dtype="String" />
        </div>
        <hr>
        <h3>{{localize "rtw.item.notes"}}</h3>
        <div class="rtw-section">
            <div class="sectionheader">
                <label>{{localize "rtw.item.notes"}}</label>
            </div>
            <div class="content">
                <div class="nospan biography">
                    {{editor system.notes target="system.notes" engine="prosemirror" button=true owner=owner editable=editable}}
                </div>
            </div>
        </div>
        <script>
            $("input").focusin(function () {
                $(this).select();
            });
        </script>
    </section>
</form>