{{debug "this:" this}}

<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="portrait" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'rtw.item.name'}}" />
    </header>
    <hr>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="flexrow">
            <label class="resource-label">{{localize "rtw.item.token-of-heroism.value"}}</label>
            <input type="number" name="system.value" value="{{item.system.value}}" data-dtype="Number" />
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "rtw.item.token-of-heroism.session"}}</label>
            <input type="text" name="system.session" value="{{item.system.session}}" data-dtype="String" />
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "rtw.item.token-of-heroism.location"}}</label>
            <input type="text" name="system.location" value="{{item.system.location}}" data-dtype="String" />
        </div>
    </section>
</form>