{{debug "this:" this}}

<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="portrait" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'rtw.item.name'}}" />
    </header>
    <hr>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="flexrow">
            <label class="resource-label">{{localize "rtw.item.rank"}}</label>
            <input type="number" name="system.rank" value="{{item.system.rank}}" data-dtype="Number" />
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "rtw.item.weapon.acc"}}</label>
            <input type="number" name="system.acc" value="{{item.system.acc}}" data-dtype="Number" />
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "rtw.item.weapon.atk"}}</label>
            <input type="number" name="system.atk" value="{{item.system.atk}}" data-dtype="Number" />
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "rtw.item.weapon.dur"}}</label>
            <input type="number" name="system.dur" value="{{item.system.dur}}" data-dtype="Number" />
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "rtw.item.weapon.maxdur"}}</label>
            <input type="number" name="system.maxdur" value="{{item.system.maxdur}}" data-dtype="Number" />
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "rtw.item.weapon.cost"}}</label>
            <input type="number" name="system.cost" value="{{item.system.cost}}" data-dtype="Number" />
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "rtw.item.weapon.material"}}</label>
            <input type="text" name="system.material" value="{{item.system.material}}" data-dtype="String" />
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "rtw.item.weapon.ench"}}</label>
            <input type="text" name="system.ench" value="{{item.system.ench}}" data-dtype="String" />
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "rtw.item.weapon.style"}}</label>
            <input type="text" name="system.style" value="{{item.system.style}}" data-dtype="String" />
        </div>
        <div class="flexrow">
            <select name="system.location">
                {{selectOptions config.rtw.selectOptions.weapon_location selected=item.system.location valueAttr="value"
                labelAttr="label" localize=true}}
            </select>
        </div>
        <hr>
        <h3>{{localize "rtw.item.notes"}}</h3>
        <div class="rtw-section">
            <div class="sectionheader">
                <label>{{localize "rtw.item.notes"}}</label>
            </div>
            <div class="content">
                <div class="nospan biography">
                    {{editor system.notes target="system.notes" engine="prosemirror" button=true owner=owner editable=editable}}
                </div>
            </div>
        </div>
        <script>
            $("input").focusin(function () {
                $(this).select();
            });
        </script>
    </section>
</form>